/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{

}

.container{
    width: 1000px;
    margin: 20px auto;S 
}

/* Header */
.sottotitolo{

}

/* Main */
.cards{
    
}
