/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    height: 800px;
    margin: 3rem auto;
    padding: 2rem;
    border: 1px solid lightgray;
    background-color:  #bb9a17;
}

/* Header */
h1{
    font-size: 35px;
    color: rgb(243, 14, 72);
    margin: 40px;
}
.sottotitolo, h1{
    text-align: center;
    margin-bottom: 40px;
}

/* Main */
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.riga{
    margin: 0 -10px;
}

.cards, .box{
    float: left;
    
}

.cards{
    width: calc((100% / 3) - 20px);
    margin: 10px;
    background-color: black;
}

/* caratterestiche cards */
.picture{
    height: 100px;
}

.generalità{
    padding-top: 10px;
}

.dati{
    color: white;
    font-style: normal;
    padding-left: 10px;
    padding-bottom: 5px;
}

.email{
    color: cornflowerblue;
    padding-left: 10px;
}
